@charset "UTF-8";

@font-face {
    font-family: titulos;
    src: url(../fontes/Fontspring-DEMO-theseasons-reg.otf) format(opentype);
    font-weight: lighter;
}

@font-face {
    font-family: japones;
    src: url(../fontes/NotoSerifJP-VariableFont_wght.ttf) format(truetype);
    font-weight: lighter;
}

@font-face {
    font-family: especial;
    src: url(../fontes/Michroma-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #000000;
    --cor1: #3533cd;
    --cor2: #2D2C5E;
    --cor3: #B9B9DE;

    --titulos: 'titulos',verdana, sans-serif;
    --japones: 'japones', arial, sans-serif;
    --especial: 'especial', arial, sans-serif;
}

body{
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    color:White;
}

header{
    font-size: 1.4em;
    margin: 20px 50px 0 50px;
    font-family: var(--especial);
}

nav{
    margin-left: 30px;
    padding: 10px;
    font-size: 1.2em;  
    margin-bottom: 10px;  
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin-right: 15px;
}

nav > a:hover{
    background-color: #2D2C5E;
    color: #B9B9DE;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #00000075;
}

body{
    color: white;
}

main{
    background-color: #ffffff;
    padding-top: 3px;
}

article{
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

h1#redes{
    padding: 10px;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-family: var(--especial);
}
img{
    width: 80px;
}

.diferente{
    margin: 0 30px 0 30px;
}

a > img{
    transition-duration: 0.5s;
    margin-right: 15px;
}

a > img:hover{
    width: 90px;
    border-radius: 10px;
}

aside{
    text-align: center;
    color: black;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
}

aside > section{
    background-color: rgba(255, 255, 255, 0.555);
    margin: 0px 100px 0px 100px;
    padding: 50px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 10px;
}
section > h1{
    font-size: 2em;
    margin-bottom: 30px;
}

section > p{
    margin-top: 10px;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 2px;
    font-family: var(--especial);
    background-color: white;
    color: #000000;
    font-size: smaller;
}